# Database
DATABASE_URL="postgresql://um-banco-dahora-aqui/1234"

# NextAuth
NEXTAUTH_SECRET=sua_chave_super_secreta_de_32_ou_mais_caracteres
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIxxxxxxxxxxxxxxxxxx

NODE_ENV=development

# Redis
REDIS_URL=redis://localhost:6379

# Sentry
SENTRY_DSN=https://xxxxxx@oxxxxxx.ingest.sentry.io/xxxxxx
NEXT_PUBLIC_SENTRY_DSN=https://xxxxxx@oxxxxxx.ingest.sentry.io/xxxxxx
SENTRY_ORG=sua-org
SENTRY_PROJECT=vw-website