DATABASE_URL="postgresql://um-banco-dahora-aqui/1234"
NEXTAUTH_SECRET=sua_chave_super_secreta_de_32_ou_mais_caracteres
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIxxxxxxxxxxxxxxxxxx

NODE_ENV=development